@{
    ViewBag.Title = "AccessDenied"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .header {
        background-color: #286090;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 40px;
        width: 66.5%;
        color: white;
        font-size: 20px;
        margin: 25px auto 0;
    }
    .Contains {
    margin-left: 40px;
    color:red;text-align:left;font-size:17px;
    min-height:156px;
}
</style>

<div style="clear:both"></div>
<div class="header"><div style="padding:8px; padding-top:7px">Access Denied</div></div>
<div style=" border:solid 1px #AFABAA; width:66.5%; margin: auto; margin-bottom:25px">
    <div class="Contains">
        <div style="width:100%;">
            <p style="font:bold 16px/60px Arial, Helvetica, sans-serif;color:red;">Sorry. Access is denied.</p>
            <span style="font:14px  Arial, Helvetica, sans-serif;color:black;">  <a href="~/Account/Home">Go to Home </a> .</span>
            <br />
            <br />
          

        </div>

        <div class="row">
            <div class="Title100" style="width:96%;text-align:center;">

            </div>
        </div>
    </div>
</div>